
header img{
    width: 130px;
    height: auto;
}
/* Carusel de imagese mas overlay */
main .carousel-inner img{
    max-height: 80vh;
    height: auto;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel{
    position: relative;
}
#carousel .overley{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}

.overley .btn-iti{
    background-color: brown;
    color: white;
    width: 150px;
}
/* ------------------------------------- */

/* Services */
.services{
    margin-top: 0px;
}


/* ------------------------------------- */

/* Navegación sub menu opciones malla */

.card-header{
    background-color: rgba(248, 248, 248, 0.5);
    padding: 15px;
}

.card-header .nav{

}
.card-header  .nav-item{
    margin-right: 10px;
}
.card-header  .nav-item .active{
    background-color: brown; 
    color: white;   
}

/* ------------------------------------ */


footer{
    background-color: white;
    color: lightslategray;
}
footer img{
    width: 122px;
}
footer ul {
    list-style: none;
}
footer a {
    text-decoration: none;
    color: lightslategray;
}
footer .redes {
    display: flex;
    justify-content: start;
}
footer .redes li a{
    width: 50px;
}
